[
  {homeautomation, [
    {device, [
      %% {id, address, unit, name, alarm list}
      {10, 896745, 15, "Dammen - Sprinkler", []},
      {9, 896745, 14, "Dammen - Hoger spridare", []},
      {8, 896745, 13, "Dammen - Vanster spridare", []},
      {7, 2649286, 15, "Motorvarmare Garage", [{on, {6,30,0}}, {off, {9,0,0}}]},
      {6, 2649286, 12, "Motorvarmare Ute", [{on, {6,0,0}}, {off, {9,0,0}}]},
      {5, 2843545, 8, "Utebelysning", [{on, {5,0,0}}, {off, {10,0,0}}, {on, {16,0,0}}, {off, {2,0,0}}]},
      {4, 78354634, 15, "Lekrum", []},
      {3, 54262774, 13, "Matsal - Rislampor", []},
      {2, 54262774, 14, "Vardagsrum - Byra", []},
      {1, 54262774, 15, "Vardagsrum - Soffa", []}
     ]},
    {temperature, [
      {in, {131, "Inne"}},
      {out, {133, "Ute"}}
    ]},
    {humidity, [
      {in, {141, "Inne"}},
      {out, {143, "Ute"}}
    ]},
    {rain, [
      {out, {152, "Regn"}}
    ]},
    {mysql_user, "some_user"},
    {mysql_password, "some_password"},
    {mysql_server, "someserver.net"},
    {mysql_port, 3306},
    {mysql_upload_sensor_list, [131, 133, 141, 143, 152]},	
    {mysql_database, "some_database"},   
    {mysql_table, "some_table"}

  ]}

].