[
  {homeautomation, [
    {device, [
      %% {id, name, alarm list}
      {5, "Motorvarmare", [{on, {6,0,0}}, {off, {9,0,0}}, {on, {16,10,10}}, {off, {16,10,20}}]},
      {4, "Lekrum", []},
      {2, "Matsal - Byra", []},
      {3, "Vardagsrum - Fonster", []},
      {1, "Vardagsrum - Soffa", []}
     ]},
    {temperature, [
      {135, "Inne"},
      {215, "Ute"}
    ]},
    {humidity, [
      {135, "Inne"},
      {215, "Ute"}
    ]}
  ]}
].